@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.title {
  width: 133px;
  height: 25px;
  margin-top: 40px;
  margin-left: 77px;
  margin-right: 1230px;
  margin-bottom: 200px;
  font-family: "Inconsolata", monospace;
  color: #333;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.92px;
  text-transform: uppercase;
}

.img {
  width: 466px;
  height: 466px;
  margin-left: 77px;
  margin-bottom: 400px;
}

body {
  width: 1440px;
  height: 1080px;
  font-family: "Space Mono", monospace;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  gap: 119px;
}

h1 {
  width: 586px;
  height: 190px;
  color: #333;
  font-family: Space Mono;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -2.24px;
  margin-right: 119px;
  margin-bottom: 36px;
}

p {
  width: 381px;
  height: 108px;
  color: #4f4f4f;
  font-family: Space Mono;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.84px;
  margin-right: 323px;
  margin-bottom: 64px;
}

button {
  width: 216px;
  height: 68px;
  background: #333;
  color: #fff;
  font-family: Space Mono;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.49px;
  text-transform: uppercase;
}
